#labelnews {
	width: 100%;
	height: auto;
	position: relative;
	top: 0;

	.landing {
		width: 100%;
		display: block;
		height: auto;
		min-height: 400px;
		position: static;

		.background	{
			background: url('../images/landing-news.jpg') no-repeat center 45px fixed;
			background-size: 100%;
			min-height: 400px;
		}
		h1 {
			position: fixed;
			margin: 0;
			width: 406px;
			height: 175px;
			background: url('../images/asset-logo-labelnews.png') no-repeat center center;
			top: 155px; right: 350px;
			z-index: 88;
		}
	}
	.main-content {
		width: 100%;
		height: auto;
		background-color: @bg;

		position: absolute;
		z-index: 99;
		
		section {
			padding: 50px auto;
			article {
				margin: 50px auto;
				div:first-child {

				}
				div:last-child {
					
				}
			}
		}
	}
}