/*////////////////////////////////
	    G E N E R A L
////////////////////////////////*/
body {
	width: 100%; 
	font-family: @font-main;
	font-size: 1em; font-size: 10px;
	color: @blk;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
h1 {
	color: white;
	font-family: @UltLt;
}
.container-fluid.outer {
	width: 100vw; height: 100vh;
	position: relative;
}

.fadeIn {
	opacity: 0;
}
.anim-from-bottom {
	opacity: 0;
	margin-top: 10px;
}